In [240]:
#Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import inspect

In [249]:
#Importing P&L data for each companys
def load_csv_files(folder_path):
    dfs_pl = {} 
    for filename in os.listdir(folder_path):
        if filename.endswith(".csv"):
            file_path = os.path.join(folder_path, filename)
            df_name = os.path.splitext(filename)[0]
            dfs_pl[df_name] = pd.read_csv(file_path)
    return dfs_pl
    
folder_path = '../Financial Profitability in the HoReCa industry/P&L'
loaded_dataframes = load_csv_files(folder_path)

# for df_name, df in loaded_dataframes.items():
#     print(f"DataFrame: {df_name}")
#     print(df.head())
#     print("\n")
dfs

{'b_s_Rainbow':                                            Unnamed: 0 2011(gru 11)  \
 0                                     Data publikacji          NaN
 1                                       Aktywa trwałe       27 057
 2                     Wartości niematerialne i prawne       15 752
 3                                       Wartość firmy          NaN
 4                 Rzeczowe składniki majątku trwałego        7 793
 5                Aktywa z tytułu prawa do użytkowania          NaN
 6                           Należności długoterminowe        3 005
 7                           Inwestycje długoterminowe          396
 8                             Pozostałe aktywa trwałe          111
 9                                     Aktywa obrotowe       66 012
 10                                             Zapasy          109
 11                         Należności krótkoterminowe       54 254
 12                         Inwestycje krótkoterminowe        4 139
 13           Środki pieniężne i inne aktywa pieniężne        3 862
 14                          Pozostałe aktywa obrotowe        7 510
 15            Aktywa trwałe przeznaczone do sprzedaży            0
 16                                       Aktywa razem       93 069
 17  Kapitał własny akcjonariuszy jednostki dominuj...       37 607
 18                       Kapitał (fundusz) podstawowy        1 455
 19                             Udziały (akcje) własne         -243
 20                         Kapitał (fundusz) zapasowy       32 384
 21                            Udziały niekontrolujące          644
 22                        Zobowiązania długoterminowe          136
 23                            Z tytułu dostaw i usług            0
 24                                 Kredyty i pożyczki            0
 25    Z tytułu emisji dłużnych papierów wartościowych            0
 26         Zobowiązania z tytułu leasingu finansowego            0
 27                   Inne zobowiązania długoterminowe          136
 28                       Zobowiązania krótkoterminowe       54 682
 29                            Z tytułu dostaw i usług       41 290
 30                                 Kredyty i pożyczki          583
 31    Z tytułu emisji dłużnych papierów wartościowych            0
 32         Zobowiązania z tytułu leasingu finansowego          118
 33                  Inne zobowiązania krótkoterminowe       12 691
 34                         Rozliczenia międzyokresowe            0
 35                                       Pasywa razem       93 069

    2012(gru 12) 2013(gru 13) 2014(gru 14) 2015(gru 15) 2016(gru 16)  \
 0           NaN          NaN          NaN          NaN          NaN
 1        23 947       21 974       24 277       40 426       47 856
 2        14 819       14 814       14 814       19 813        4 725
 3           NaN          NaN          NaN          NaN          NaN
 4         6 248        6 729        8 073       18 501       32 627
 5           NaN          NaN          NaN          NaN          NaN
 6         2 160            0            0            0        8 758
 7           396          196          196          196          196
 8           324          235        1 194        1 916        1 550
 9        79 425      132 287      189 082      208 042      207 299
 10          156           16           15           16          614
 11       49 074       48 427       81 674      102 635      148 594
 12       15 939       70 174       84 580       79 755       46 736
 13       15 939       70 174       84 580       79 236       45 384
 14       14 256       13 670       22 813       25 636       11 355
 15            0            0            0            0            0
 16      103 372      154 261      213 359      248 468      255 155
 17       35 749       49 031       78 540      100 812       90 173
 18        1 455        1 455        1 455        1 455        1 455
 19         -243         -663         -420         -420         -420
 20       32 384       32 384       32 384       32 384       32 384
 21          585          486            0            0            0
 22           88           90          506        2 758        5 216
 23            0            0            0            0            0
 24            0            0            0        2 341        2 281
 25            0            0            0            0            0
 26            0            0            0          363        2 280
 27           88           90          506           54          655
 28       66 950      104 654      134 313      144 898      159 766
 29       51 595       89 707      111 048       90 210       47 204
 30           56           32            0          625          505
 31            0            0            0            0            0
 32          745          659          659          659          659
 33       14 554       14 256       22 606       53 404      111 398
 34            0            0            0            0            0
 35      103 372      154 261      213 359      248 468      255 155

    2017(gru 17) 2018(gru 18) 2019(gru 19) 2020(gru 20) 2021(gru 21)  \
 0           NaN          NaN          NaN          NaN          NaN
 1        69 474      110 212      219 854      240 090      275 001
 2         5 562        8 748       10 199        9 486        8 843
 3           NaN          NaN          NaN          NaN          NaN
 4        48 585       85 715      194 279      209 055      236 868
 5           NaN          NaN          NaN          NaN          NaN
 6         1 112       14 775       14 071       13 542       21 651
 7           196          196          196          196          196
 8        14 019          778        1 109        7 811        7 443
 9       228 054      258 265      287 434      234 743      280 044
 10          633          681          792          115           99
 11      168 546      170 825      177 517      187 264      140 975
 12       33 418       27 828       67 596       29 260       83 980
 13       33 258       27 086       67 096       28 809       83 934
 14       25 457       58 931       41 529       18 104       54 990
 15            0            0            0            0            0
 16      297 528      368 477      507 288      474 833      555 045
 17      105 345      105 785      128 686       92 809      108 221
 18        1 455        1 455        1 455        1 455        1 455
 19            0            0            0            0            0
 20       36 558       36 558       36 558       36 558       36 558
 21            0            0            0            0       41 111
 22        3 220       49 660      100 622      112 232      118 104
 23            0            0            0            0            0
 24        2 191       49 465      100 401       71 574       80 871
 25            0            0            0            0            0
 26          844            0            0            0            0
 27          185          195          221       40 658       37 233
 28      188 963      213 032      277 980      269 792      287 609
 29       40 407       52 056       58 795       44 449       92 252
 30        1 276       23 549       20 635      137 842       30 986
 31            0            0            0            0            0
 32        6 984            0        1 245            0            0
 33      140 296      137 427      197 305       87 501      164 371
 34            0            0            0            0            0
 35      297 528      368 477      507 288      474 833      555 045

    2022(gru 22) 2023/Q3(wrz 23)
 0           NaN             NaN
 1       287 469         371 564
 2         9 232           8 845
 3           NaN             NaN
 4       243 594         255 076
 5           NaN             NaN
 6        22 237          70 845
 7           196             196
 8        12 210          36 602
 9       438 521         724 284
 10          181             582
 11      229 676         298 481
 12      142 574         386 929
 13      142 415         382 550
 14       66 090          38 292
 15            0               0
 16      725 990       1 095 848
 17      111 959         260 610
 18        1 455           1 455
 19            0               0
 20       36 558          36 558
 21       41 944          44 438
 22      133 520          92 904
 23            0               0
 24      102 023          65 079
 25            0               0
 26            0               0
 27       31 497          27 825
 28      438 567         697 896
 29       93 382         183 034
 30       40 164          23 520
 31            0               0
 32        4 067               0
 33      300 954         491 342
 34            0               0
 35      725 990       1 095 848  ,
 'b_s_Tatry_Mountain_Resort':                                            Unnamed: 0 2010(paź 10)  \
 0                                     Data publikacji          NaN
 1                                       Aktywa trwałe      545 547
 2                     Wartości niematerialne i prawne       15 566
 3                                       Wartość firmy          NaN
 4                 Rzeczowe składniki majątku trwałego      460 051
 5                Aktywa z tytułu prawa do użytkowania          NaN
 6                           Należności długoterminowe       26 131
 7                           Inwestycje długoterminowe       42 325
 8                             Pozostałe aktywa trwałe        1 474
 9                                     Aktywa obrotowe      654 958
 10                                             Zapasy        2 700
 11                         Należności krótkoterminowe      635 281
 12                         Inwestycje krótkoterminowe       11 400
 13           Środki pieniężne i inne aktywa pieniężne       11 060
 14                          Pozostałe aktywa obrotowe        5 576
 15            Aktywa trwałe przeznaczone do sprzedaży            0
 16                                       Aktywa razem    1 200 505
 17  Kapitał własny akcjonariuszy jednostki dominuj...    1 074 530
 18                       Kapitał (fundusz) podstawowy      884 113
 19                             Udziały (akcje) własne            0
 20                         Kapitał (fundusz) zapasowy      121 550
 21                            Udziały niekontrolujące            0
 22                        Zobowiązania długoterminowe       87 577
 23                            Z tytułu dostaw i usług          292
 24                                 Kredyty i pożyczki       47 629
 25    Z tytułu emisji dłużnych papierów wartościowych            0
 26         Zobowiązania z tytułu leasingu finansowego            0
 27                   Inne zobowiązania długoterminowe       39 656
 28                       Zobowiązania krótkoterminowe       38 398
 29                            Z tytułu dostaw i usług       11 176
 30                                 Kredyty i pożyczki        9 007
 31    Z tytułu emisji dłużnych papierów wartościowych            0
 32         Zobowiązania z tytułu leasingu finansowego            0
 33                  Inne zobowiązania krótkoterminowe       18 214
 34                         Rozliczenia międzyokresowe            0
 35                                       Pasywa razem    1 200 505

    2011(paź 11) 2012(paź 12) 2013(paź 13) 2014(paź 14) 2015(gru 15)  \
 0           NaN          NaN          NaN          NaN          NaN
 1       928 689    1 093 323    1 206 670    1 339 448    1 337 114
 2        16 526       15 911       32 469       63 569       64 719
 3           NaN          NaN          NaN          NaN          NaN
 4       745 480      901 112    1 067 560    1 152 247    1 134 739
 5           NaN          NaN          NaN          NaN          NaN
 6       116 930      101 427       15 123       92 352        9 980
 7        40 710       74 620       91 518       30 540      127 675
 8         9 043          252            0          740            0
 9       439 994      229 513      236 362      172 498      200 951
 10        4 278        6 480        8 834       12 281       22 791
 11      323 606      146 387      184 409      125 112       99 050
 12      103 058       67 483       27 770       25 159       65 120
 13       27 758       12 872       17 876       16 409       39 287
 14        9 051        9 163       15 349        9 947        9 993
 15            0            0            0            0        3 997
 16    1 368 682    1 322 836    1 443 032    1 511 946    1 538 065
 17    1 184 357    1 142 980      423 829      429 112      430 480
 18      961 337      915 233      196 091      197 392      200 077
 19            0            0            0            0            0
 20      132 167      125 828      127 094      127 937      129 763
 21            0            0            0        1 038        9 865
 22      127 749      107 771      200 565      976 680      969 176
 23           56            0            0            0            0
 24       64 311       53 300      120 629      141 651      118 755
 25            0            0            0      750 026      760 763
 26            0            0            0            0            0
 27       63 382       54 470       79 936       85 003       89 658
 28       56 576       72 085      818 639      105 116      128 544
 29       21 347       45 423       31 738       18 373       25 309
 30       13 542       13 493       41 123       42 190       42 666
 31            0            0            0       25 318       25 663
 32            0            0            0            0            0
 33       21 686       13 170      745 778       19 235       34 906
 34            0            0            0            0            0
 35    1 368 682    1 322 836    1 443 032    1 511 946    1 538 065

    2016(paź 16) 2017(paź 17) 2018(paź 18) 2019(paź 19) 2020(paź 20)  \
 0           NaN          NaN          NaN          NaN          NaN
 1     1 334 203    1 500 723    1 714 866    1 898 822    2 446 523
 2        63 416       59 965       61 141       61 518      164 554
 3           NaN          NaN          NaN          NaN          NaN
 4     1 196 674    1 390 382    1 582 124    1 760 061    2 127 853
 5           NaN          NaN          NaN          NaN          NaN
 6        33 874       11 292       17 312       16 186       36 844
 7        40 238       39 085       44 708       48 792      111 706
 8             0            0        9 581       12 265        5 566
 9       291 343      360 570      544 704      376 321      148 905
 10       24 191       24 870       35 183       34 980       39 680
 11      102 201      176 469      238 338      246 224       37 805
 12      164 951      140 605      256 313       71 311       33 260
 13       32 420       40 730      236 164       51 452       33 075
 14            0       18 627       14 869       23 806       38 161
 15            0            0            0            0            0
 16    1 625 546    1 861 293    2 259 570    2 275 143    2 595 428
 17      449 955      474 112      492 387      469 073      425 687
 18      203 139      199 528      203 355      200 087      216 853
 19            0            0            0            0            0
 20      131 661      129 321      131 801      129 684      140 550
 21        8 688        6 749          468          452       -1 284
 22    1 034 938    1 216 620      989 550    1 588 157    1 280 964
 23            0            0            0            0       12 401
 24      164 878      359 525      155 286      302 014      151 575
 25      773 095      759 949      725 125    1 086 388      659 214
 26            0            0            0            0      247 965
 27       96 966       97 146      109 140      199 754      209 809
 28      131 964      163 813      777 165      217 462      890 061
 29       32 641       43 713       38 185       34 315       32 262
 30       30 270       41 988      346 175       64 761      209 001
 31       26 055       25 592      307 531       27 139      536 931
 32            0            0            0            0       41 578
 33       42 999       52 519       85 275       91 247       70 289
 34            0            0            0            0            0
 35    1 625 546    1 861 293    2 259 570    2 275 143    2 595 428

    2021(paź 21) 2022(paź 22)
 0           NaN          NaN
 1     2 378 742    2 531 566
 2       165 660      167 660
 3           NaN          NaN
 4     2 085 552    2 238 898
 5           NaN          NaN
 6         2 985        2 392
 7       106 491       98 713
 8        18 053       23 902
 9       193 940      174 484
 10       18 918       21 223
 11       69 455       48 309
 12       72 052       73 657
 13       71 867       73 459
 14       33 515       31 295
 15            0            0
 16    2 572 681    2 706 049
 17      210 547      158 469
 18      216 947      221 083
 19            0            0
 20      140 611      143 292
 21       -2 042       -3 042
 22    2 012 118    1 945 925
 23       11 358       17 093
 24      365 015      530 594
 25    1 175 661      934 698
 26      265 266      275 419
 27      194 818      188 121
 28      352 059      604 698
 29       56 864       70 040
 30      132 303       47 800
 31       29 467      318 745
 32       40 418       40 539
 33       93 007      127 574
 34            0            0
 35    2 572 681    2 706 049  ,
 'b_s_Sfinks':                                            Unnamed: 0 2008(gru 08)  \
 0                                     Data publikacji          NaN
 1                                       Aktywa trwałe      103 843
 2                     Wartości niematerialne i prawne        6 966
 3                                       Wartość firmy          NaN
 4                 Rzeczowe składniki majątku trwałego       89 655
 5                Aktywa z tytułu prawa do użytkowania          NaN
 6                           Należności długoterminowe        1 124
 7                           Inwestycje długoterminowe            0
 8                             Pozostałe aktywa trwałe        6 098
 9                                     Aktywa obrotowe       23 089
 10                                             Zapasy        3 258
 11                         Należności krótkoterminowe       14 925
 12                         Inwestycje krótkoterminowe        4 906
 13           Środki pieniężne i inne aktywa pieniężne        4 906
 14                          Pozostałe aktywa obrotowe            0
 15            Aktywa trwałe przeznaczone do sprzedaży            0
 16                                       Aktywa razem      126 932
 17  Kapitał własny akcjonariuszy jednostki dominuj...      -15 895
 18                       Kapitał (fundusz) podstawowy        9 281
 19                             Udziały (akcje) własne            0
 20                         Kapitał (fundusz) zapasowy       51 384
 21                            Udziały niekontrolujące        6 433
 22                        Zobowiązania długoterminowe        6 793
 23                            Z tytułu dostaw i usług            0
 24                                 Kredyty i pożyczki            0
 25    Z tytułu emisji dłużnych papierów wartościowych            0
 26         Zobowiązania z tytułu leasingu finansowego        2 195
 27                   Inne zobowiązania długoterminowe        4 598
 28                       Zobowiązania krótkoterminowe      129 601
 29                            Z tytułu dostaw i usług       25 584
 30                                 Kredyty i pożyczki       87 859
 31    Z tytułu emisji dłużnych papierów wartościowych            0
 32         Zobowiązania z tytułu leasingu finansowego        1 491

## Import data

In [230]:
#Importing B/S data for each companys
def load_csv_files(folder_path):
    dfs_bs = {} 
    for filename in os.listdir(folder_path):
        if filename.endswith(".csv"):
            file_path = os.path.join(folder_path, filename)
            df_name = os.path.splitext(filename)[0]
            dfs_bs[df_name] = pd.read_csv(file_path)
    return dfs_bs
    
folder_path = '../Financial Profitability in the HoReCa industry/B:S'
loaded_dataframes = load_csv_files(folder_path)

# for df_name, df in loaded_dataframes.items():
#     print(f"DataFrame: {df_name}")
#     print(df.head())
#     print("\n")

## Data cleaning

In [218]:
desired_years = ['Unnamed: 0','2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

for df_name, df in dfs_pl.items():
    selected_columns = [col for col in df.columns if any(year in col for year in desired_years)]
    new_df = df[selected_columns]
    new_df = new_df.dropna()
    print(f"DataFrame: {df_name}")
    print(new_df)
    print("\n")

NameError: name 'dfs_pl' is not defined

In [232]:
print(new_df)
def calculate_ebitda(new_df):
    try:
        required_columns = ["Przychody", "Koszty operacyjne", "Amortyzacja", "Inne wydatki"]
        for col in required_columns:
            if col not in df.columns:
                raise ValueError(f"Brak kolumny '{col}' w ramce danych.")
        ebitda = new_df["Przychody"] - new_df["Koszty operacyjne"] - new_df["Amortyzacja"] - new_df["Inne wydatki"]
        return ebitda

    except Exception as e:
        print(f"Błąd podczas obliczania EBITDA: {e}")
        return None
result_ebitda = calculate_ebitda(new_df)

print("EBITDA:")
print(result_ebitda)

                                           Unnamed: 0 2016(gru 16)  \
1                              Przychody ze sprzedaży      208 540
2   Techniczny koszt wytworzenia produkcji sprzedanej      182 223
3                                    Koszty sprzedaży            0
4                             Koszty ogólnego zarządu       27 165
5                                   Zysk ze sprzedaży         -848
6                      Pozostałe przychody operacyjne       15 593
7                         Pozostałe koszty operacyjne        1 673
8                              Zysk operacyjny (EBIT)       13 072
9                                 Przychody finansowe        9 803
10                                   Koszty finansowe        5 825
11                       Pozostałe przychody (koszty)            0
12                   Zysk z działalności gospodarczej       17 050
13                       Wynik zdarzeń nadzwyczajnych            0
14                          Zysk przed opodatkowaniem       17 050
15     Zysk (strata) netto z działalności zaniechanej            0
16                                         Zysk netto       10 533
17     Zysk netto akcjonariuszy jednostki dominującej       10 533

   2017(gru 17) 2018(gru 18) 2019(gru 19) 2020(gru 20) 2021(gru 21)  \
1       187 074      181 611      170 357       77 336       63 896
2       163 552      155 078      140 338       70 631       49 265
3             0            0            0            0            0
4        23 283       21 266       25 572       17 534       18 394
5           239        5 267        4 447      -10 829       -3 763
6         3 886          734        1 620        4 187        4 812
7         9 337        4 728       11 220       28 398       17 593
8        -5 212        1 273       -5 153      -35 040      -16 544
9           551          446        1 334          528       13 254
10        5 294        6 381       16 830       20 612       16 149
11            0            0            0            0            0
12       -9 955       -4 662      -20 649      -55 124      -19 439
13            0            0            0            0            0
14       -9 955       -4 662      -20 649      -55 124      -19 439
15            0            0            0            0            0
16       -9 215       -4 682      -18 000      -61 107      -19 580
17       -9 215       -4 682      -18 000      -61 107      -19 580

   2022(gru 22)
1       100 573
2        74 098
3             0
4        20 036
5         6 439
6        28 966
7         7 162
8        28 243
9         6 948
10       16 593
11            0
12       18 598
13            0
14       18 598
15            0
16       21 482
17       21 482
Błąd podczas obliczania EBITDA: Brak kolumny 'Przychody' w ramce danych.
EBITDA:
None